* New Features
* Enhancements
* Optimizations
* Examples
* Tools
* API Changes
* Deprecation
* Documentation
* Bug Fixes
    - <a href=https://bbpteam.epfl.ch/project/issues/browse/OSGTR-XYZ>
      OSGTR-XYZ</a> description
* Known Bugs
